{% extends 'base.html' %}

{% block title %}EYE IRIS TUMOUR DETECTOR{% endblock %}

{% block content %}
    <h2><center style="color: rgb(35, 243, 243);">Welcome to the Eye Iris Tumor Detector</center></h2>
    <p style="color: aliceblue;">* This tool uses advanced machine learning techniques to help detect iris tumors from uploaded eye images.</p>
    <p style="color: aliceblue;">* Our mission is to provide accessible tools for early detection of eye health issues, helping to support healthcare professionals and patients alike.</p>
    <h3 style="color: rgb(122, 225, 244); text-align: left;">Steps To Use</h3>
    <ol>
        <li>Register and Login:Go to the Register page to create an account by providing your details.</li>
        
        <li>After logging in, navigate to the Home page.</li> 
        <li>Click on the Upload Image button to select an eye image from your device.</li>
        <li>Ensure the image is clear and follows the format specified (e.g., .jpg, .png, etc.).</li></li>
        
        <li>After uploading, click the "Detect Tumor" button.</li>
        <li> The system will analyze the image and display whether a tumor is detected or not.</li>
        <li>Once done, click the Log Out button to safely exit your account.</li>
    </ol>

   
{% endblock %}
